<header ng-switch on="$location.path().indexOf('/Conferences/new') > -1">
    <h3 ng-switch-when="true">Create a new Conference</h3>
    <h3 ng-switch-when="false">View or edit Conference</h3>
</header>
<form id="ConferenceForm" name="ConferenceForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    

    <div class="form-group" ng-class="{'has-error': ConferenceForm.endDate.$invalid}">
        <label for="endDate" class="col-sm-2 control-label">End Date</label>
        <div id="endDateControls" class="col-sm-10">
            <date id="endDate" name="endDate" ng-model="conference.endDate" placeholder="Enter the Conference End Date"></date>
            <span class="help-block error" ng-show="ConferenceForm.endDate.$error.maxlength">maximum length is 8</span>
            <span class="help-block error" ng-show="ConferenceForm.endDate.$error.dateFormat">does not match format "yyyy-MM-dd" (e.g. 2013-12-01)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ConferenceForm.location.$invalid}">
        <label for="location" class="col-sm-2 control-label">Location</label>
        <div id="locationControls" class="col-sm-10">
            <input id="location" name="location" type="text" class="form-control" ng-model="conference.location" placeholder="Enter the Conference Location"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ConferenceForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text" class="form-control" ng-model="conference.name" placeholder="Enter the Conference Name"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ConferenceForm.startDate.$invalid}">
        <label for="startDate" class="col-sm-2 control-label">Start Date</label>
        <div id="startDateControls" class="col-sm-10">
            <date id="startDate" name="startDate" ng-model="conference.startDate" placeholder="Enter the Conference Start Date"></date>
            <span class="help-block error" ng-show="ConferenceForm.startDate.$error.maxlength">maximum length is 8</span>
            <span class="help-block error" ng-show="ConferenceForm.startDate.$error.dateFormat">does not match format "yyyy-MM-dd" (e.g. 2013-12-01)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ConferenceForm.sessions.$invalid}">
        <label for="sessions" class="col-sm-2 control-label">Sessions</label>
        <div id="sessionsControls" class="col-sm-10">
            <select id="sessions" name="sessions" multiple class="form-control" ng-model="sessionsSelection" ng-options="s.text for s in sessionsSelectionList">
                <option value="">Choose a Sessions</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveConference" name="saveConference" class="btn btn-primary" ng-disabled="isClean() || ConferenceForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteConference" name="deleteConference" class="btn btn-danger" ng-show="conference.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>